@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 

  --bg:white;
  --textColor:black;
  --softbg:#f0f0f0;
  --softTextColor:#626262;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body{
  


}

a{
  color: inherit;
  text-decoration: none;
}

.light{
  background-color:rgba(245, 245, 245, 0.9)  !important;
  color: #171212;
  
}
.dark{
  background-color: #171212 !important;
  color:white !important;
}
body{
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  overflow-y: hidden;
  
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
